.wrapper {
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    border-radius: 4px;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    +.wrapper {
        margin-left: 8px;
    }
    &.disabled{
        pointer-events: none ;
        opacity: 0.5;
    }
}

//button style
.rounded {
    border-radius: 52px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    background-color: transparent;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    background-color: var(--primary);
    color: var(--white);
    &:hover {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.06),
            rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
        }
    }
    .outline {
    border-color: var(--primary);
    color: var(--primary);
    background-color: var(--white);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text {
    background-color: var(--white);
    &:hover{
        text-decoration: underline;
    }
}

//button size

.small {
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    padding: 2px 6px;
}
.large {
    min-height: 48px;
    padding: 6px 8px;
}

