@import url('normalize.css');
@import url('http://fonts.cdnfonts.com/css/segoe-ui');
:root {
    --primary: #fe2c55;
    --black: #000;
    --white : #fff;
    --text-color: #333;

    //Defalt layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

h1 {
    color: #29191c;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}

